// This works to clean things up but I can't see 
// how to globally force copy or hardlinks for 
// published results so we don't just end up with
// a bunch of broken symlinks

// cleanup.enabled = true

//Profile config names for nf-core/configs



params {
  singularity_pull_docker_container = false
  params.max_time = 14.d
  params.max_cpus = 36
  params.max_memory = 1800.GB
//   igenomes_base = 's3://ngi-igenomes/igenomes/'

  igenomes_base = '/resources/references/igenomes'
}

includeConfig 'genomes.d/igenomes.config'
// includeConfig'configs/cbe.config'
includeConfig'configs/local.config'
 
process {
    memory = 5.GB
    time = 4.h
    cpus = 1
    errorStrategy = 'ignore'
    // errorStrategy = { sleep(Math.pow(2, task.attempt) * 30 as long); return 'retry' }

    withLabel: process_medium {
      cpus = 2
      memory = 15.GB
      time = 5.h
    }

    withLabel: process_high {
      cpus = 8
      memory = 30.GB
      time = 8.h
    }

    withLabel: bigMem {
        memory = 20.GB
    }
    
    withLabel: mem40G {
        memory = 40.GB
    }

    withLabel: hugeMem{
    	memory = 80.GB
    }

    withLabel: multiCore {
        cpus = 8
    }

    withLabel: quadCore{
     	cpus = 4
    }
   
}

// notification {
//     enabled = true
//     to = "${USER}@babraham.ac.uk"
// }

timeline {
    enabled = true
    file = "${params.outdir}/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/execution_report.html"
}
//trace {
//   enabled = true
//    file = "execution_trace.txt"
//}

// dag {
//   enabled = true
//   file = "pipeline_dag.svg"
// }
